#intro {
	position:relative;
	z-index:9999;
	top:0;
	height:100%;
	text-align:center;
	@include background-image(linear-gradient(#fff, #fff 38%, (rgba(#fff,0))));
	@include transition(all 1s ease-in);
	.text-intro {
		margin-bottom:2.5em;
	}
	&.disabled {
		top:-100%;
	}
}
header#main {
	padding:10% 0 0;
	h1 {
		margin:2% auto 0;
		position:relative;
		top:-56px;
		z-index:1;
		display:block;
		max-width:image-width('logo.png');
	}
	.main-menu {
		border-top:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
		position:relative;
		top:-190px;
		ul {
			margin:0;
			padding:1.2em;
		}
		li {
			display:inline-block;
			text-transform:uppercase;
			font-size:1.07em;
			border-right:1px solid #e1e1e1;
			padding:0 1%;
			&:last-child {
				border:none;
			}
			a {
				text-decoration:none;
				color:#222;
			}
			&.logo-placeholder {
				width:180px;
				text-indent:-9999px;
			}
		}
	}
}
#map {
	position:absolute;
	top:0;
	height:100%;
	width:auto;
	min-width:100%;
	max-width:100%;
}
