$menu-width:70px;

#map {
	height:100%;
	min-height:100%;
}
.side-panel {
	position:fixed;
	top:0;
	height:100%;
	display:block;
	min-height:100%;
	width:0;
	background:rgba(255,255,255,.85);
	@include transition(all .9s ease-in-out);
	&.visible {
		right:#{$menu-width};
	}
	&.unfolded {
		width:33%;
		min-width:430px;
	}
}
.panel-menu {
	text-align:center;
	width:$menu-width;
	@include box-sizing(border-box);
	@include box-shadow(-5px 0 5px -2px rgba(0,0,0,.2));
	float:left;
	background:#fff;
	height:auto;
	min-height:100%;
	color:#757575;
	font-size:22px;
	position:fixed;
	right:0;
	z-index:1;
	ul {
		padding:0;
		margin:0;
	}
	li {
		display:block;
		padding	:0 6px;
		border-top:1px solid #e1e1e1;
		&:first-child {
			border-top:none;
		}
		&:last-child {
			border-bottom:none;
		}
		a {
			padding:1.2em 0;
			text-decoration:none;
			color:#757575;
			outline:none;
			display:block;
		}
	}
	.menu {
		border-right:0;
		@include transition(all .3s ease);
		&:hover {
			border-right: 6px solid #a85044;
		}
		&.active {
			border-right:0;
			border-left: 6px solid #a85044;
		}
	}
	.toggle {
		@include transition(all .3s ease-in-out);
	}
	.unfolded & .toggle {
		@include transform(rotate(-180deg));
	}
}
.panel-content {
	width:100%;
	height:auto;
	@include box-sizing(border-box);
	padding:15px 20px;
	z-index:0;
	min-height:100%;
	max-height:100%;
	@include opacity(0);
	background:#fff;
	@include transition(all 1s ease-in-out);
	.unfolded & {
		@include opacity(1);
		visibility:visible;
	}
}
