$menu-width:70px;

.panel-menu {
	display:block;
	text-align:center;
	width:$menu-width;
	@include box-sizing(border-box);
	@include box-shadow(-5px 0 5px -2px rgba(0,0,0,.2));
	float:left;
	background:#fff;
	height:auto;
	min-height:100%;
	color:#757575;
	font-size:22px;
	position:fixed;
	right:0;
	top:0;
	z-index:9998;
	ul {
		padding:0;
		margin:0;
	}
	li {
		display:block;
		padding	:0 6px;
		border-top:1px solid #e1e1e1;
		&:first-child {
			border-top:none;
		}
		&:last-child {
			border-bottom:none;
		}
		a {
			padding:1.2em 0;
			text-decoration:none;
			color:#757575;
			outline:none;
			display:block;
		}
		&.play {
			position:absolute;
			bottom:20px;
			left:-5px;
			width:$menu-width;
			border-bottom:1px solid #e1e1e1;
		}
	}
	.menu {
		border-right:0;
		@include transition(all .3s ease);
		&:hover {
			border-right: 6px solid #a85044;
		}
		&.active {
			border-right:0;
			border-left: 6px solid #a85044;
		}
	}
	.fa-arrow-left {
		@include transition(all 1s ease-in-out);
	}
	.active .fa-arrow-left {
		@include transform(rotate(-180deg));
	}
}
.panel-content {
	width:100%;
	margin-right:-100%;
	height:auto;
	position:absolute;
	right:0;
	top:0;
	overflow: scroll;
	@include box-sizing(border-box);
	//padding:15px 20px;
	padding:0;
	z-index:9997;
	min-height:100%;
	max-height:100%;
	background:#fff;
	overflow:hidden;
	@include transition(all 1s ease-in-out);
	&.unfolded {
		margin-right:$menu-width;
	}
	&#mainmenu {
		width:100%!important;
		margin-right:-100%;
		text-align:center;
		&.unfolded {
			margin-right:0;
			padding-right:$menu-width;
		}
	}
	#search {
		margin-bottom:2em;
		margin-top:15px;
		border-bottom:solid 1px #999;
		#search-input {
			padding-left:1em;
			font-size:2em;
			color:#666;
			background:none;
			border:none;
			border-bottom:solid 1px #999;
			outline:none;
			display:block;
			width:100%;
			height:62px;
		}
	}
	#slider_seek {
		position:absolute!important;
		bottom:80px;
		width:100%;
		border-radius:0;
		.bar {
			border-radius:0;
			background:#d54c39;
		}
	}
	#song-info {
		position:absolute;
		font-size:1.2em;
		bottom:48px;
		width:90%;
		text-align:center;
		.position {
			float:left;
		}
		.length {
			float:right;
		}
	}
	#playlistListe {
	}
	#song-info {
		position:absolute;
		font-size:1.2em;
		bottom:40px;
		padding:0 1.2em;
		@include box-sizing(border-box);
		width:100%;
		text-align:center;
		.position {
			float:left;
		}
		.length {
			float:right;
		}
		&:after {
			content:"";
			display:block;
			width:100%;
			height:1px;
			background-color:#e1e1e1;
			position:absolute;
			left:0;
			bottom:-20px;
		}
	}
	h2 {
		text-align:center;
		line-height:1.3em;
		color:#555;
	}
	#trackList {
		border:1px solid #555;
		width:80%;
		max-height:400px;
		overflow-y:scroll;
		margin:2em auto;
		padding:1em;
		li {
			list-style-type:none;
			cursor:pointer;
			padding:.5em 0;
			border-bottom:solid 1px #ddd;
			&:last-child {
				border:none;
			}
			.track-number {
				margin-right:10px;	
				font-weight:bold;
			}
			.track-title {
				font-weight:bold;
			}
		}
	}
	#playlistListe {
		
	}
}
@media screen and (min-width:760px) {
	.panel-content { width:50%; margin-right:-50%; }
}
@media screen and (min-width:1030px) {
	.panel-content { width:33%; margin-right:-33%; }
}

#mainmenu {
	display:table;
	height:105%;
	ul {
		display:table-cell;
		vertical-align:middle;
		margin:0;
		padding:0;
		list-style-type:none;
	}
	li {
		a {
			font:400 2.4em/1.6em $text;
			@include transition(all .5s ease);
			text: {
				transform:uppercase;
				decoration:none;
			}
			&:hover {
				border:solid 3px;
				border-top-width:0;
				border-bottom-width:0;
				padding:0 1em;
			}
			&.accueil {
				color:#3f7079;
				&:hover {
					border-color:#3f7079;
				}
			}
			&.playlist {
				color:#a85044;
				&:hover {
					border-color:#a85044;
				}
			}
			&.parcours {
				color:#c1b458;
				&:hover {
					border-color:#826244;
				}
			}
			&.artistes {
				color:#826244;
				&:hover {
					border-color:#826244;
				}
			}
			&.apropos {
				color:#824e6c;
				&:hover {
					border-color:#824e6c;
				}
			}
		}
	}
}
