// COLORS

$red: #d54c39;
$darkblue:#3b7075;

// BREAKPOINTS

// FONTS

// Piles de polices réutilisables
$ss: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titles: 'Antic Slab', 'Courrier New', $ss;
$text: 'Source Sans Pro', $ss;
