@import "compass/reset"; // Importation d'un reset CSS
@import "compass/css3";

@import 'vars';
@import 'mixins';
@import 'typo';
@import 'forms';
@import 'pages';
@import 'misc';
@import 'skin';
@import 'slidingpanel';
@import 'player';
@import 'leaflet';
@import 'leaflet-routing';

// Classes génériques

.hide {
 	display: none;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}

html {

}

body {
	overflow:hidden;
}
.rounded {
	width:3em;
	height:3em;
	background:$darkblue;
	color:#fff;
	border-radius:3em;
	font-size:1.2em;
	padding-top:1em;
	box-sizing:border-box;
	text-align:center;
}
#map {
	height:100%;
	min-height:100%;
}
.leaflet-top.leaflet-right {
	display:none;
}
