@import "compass/reset"; // Importation d'un reset CSS
@import "compass/css3";

@import 'vars';
@import 'mixins';
@import 'typo';
@import 'forms';
@import 'pages';
@import 'misc';
@import 'skin';
@import 'slidingpanel';
@import 'player';
@import 'leaflet';

// Classes génériques

.hide {
 	display: none;
}
.clear {
	clear:both;
}
.left {
	float:left;
}
.right {
	float:right;
}

html {

}

body {

}
.rounded {
	width:3em;
	height:3em;
	background:$darkblue;
	color:#fff;
	border-radius:3em;
	font-size:1.2em;
	padding-top:1em;
	box-sizing:border-box;
	text-align:center;
}
#mainmenu {
	display:none;
	text-align:center;
	position: absolute;
	top:4%;
	left:4%;
	width:92%;
	height:auto;
	min-height:92%;
	max-height:92%;
	z-index:9000;
	background:rgba(255,255,255,.9);
	border-radius:.8em;
	//@include box-shadow(0 0 10px 0 rgba(0,0,0,.5));
	ul {
		display:table-cell;
		vertical-align:middle;
		margin:0;
		padding:0;
	}
	li {
		a {
			font:400 2.4em/1.6em $text;
			text: {
				transform:uppercase;
				decoration:none;
			}
			&.accueil {
				color:#c1b458;
			}
			&.playlist {
				color:#213f42;
			}
			&.parcours {
				color:#a85044;
			}
			&.artistes {
				color:#824e6c;
			}
			&.apropos {
				color:#826244;
			}
		}
	}
}
#menu-close {
	position:absolute;
	right:1em;
	top:1em;
}
