/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, summary, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_typo.scss */
html {
  font: 400 1em/1.3em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 4, ../../../src/Team/MusisBundle/Resources/public/scss/_typo.scss */
h1, h2, h3, summary, h4, h5, h6 {
  font-family: "Antic Slab", "Courrier New", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 7, ../../../src/Team/MusisBundle/Resources/public/scss/_typo.scss */
h1 {
  font-size: 3em;
}

/* line 10, ../../../src/Team/MusisBundle/Resources/public/scss/_typo.scss */
h2 {
  font-size: 2em;
}

/* line 13, ../../../src/Team/MusisBundle/Resources/public/scss/_typo.scss */
h3, summary {
  font-size: 1.7em;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_forms.scss */
input[type="submit"], input[type="button"], button, .button {
  font-size: 1.1em;
  background: #d54c39;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: .6em 4em;
  margin: 3px;
  outline: none;
  -moz-box-shadow: 0 2px 0 0 #7d3b32;
  -webkit-box-shadow: 0 2px 0 0 #7d3b32;
  box-shadow: 0 2px 0 0 #7d3b32;
}
/* line 11, ../../../src/Team/MusisBundle/Resources/public/scss/_forms.scss */
input[type="submit"]:focus, input[type="button"]:focus, button:focus, .button:focus {
  background: #d85746;
}
/* line 14, ../../../src/Team/MusisBundle/Resources/public/scss/_forms.scss */
input[type="submit"]:active, input[type="button"]:active, button:active, .button:active {
  position: relative;
  top: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
#intro {
  position: relative;
  z-index: 1001;
  top: 0;
  height: 100%;
  text-align: center;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMzglIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(38%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(#ffffff, #ffffff 38%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 38%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#ffffff, #ffffff 38%, rgba(255, 255, 255, 0));
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}
/* line 9, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
#intro .text-intro {
  margin-bottom: 2.5em;
}
/* line 12, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
#intro.disabled {
  top: -100%;
}

/* line 16, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main {
  padding-top: 5%;
  margin-bottom: 1%;
}
/* line 19, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main h1 {
  margin: 2% auto;
  position: relative;
  z-index: 1;
  display: block;
  max-width: 250px;
}
/* line 26, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  top: -190px;
}
/* line 31, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu ul {
  margin: 0;
  padding: 1.2em;
}
/* line 35, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2em;
  border-right: 1px solid #e1e1e1;
  padding: 0 20px;
}
/* line 41, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu li:last-child {
  border: none;
}
/* line 44, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu li a {
  text-decoration: none;
  color: #222;
}
/* line 48, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
header#main .main-menu li.logo-placeholder {
  width: 400px;
  text-indent: -9999px;
}

/* line 55, ../../../src/Team/MusisBundle/Resources/public/scss/_pages.scss */
#map {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  min-width: 100%;
  max-width: 100%;
}

/* line 2, ../../../src/Team/MusisBundle/Resources/public/scss/_misc.scss */
::selection {
  background: black;
  color: #d54c39;
  text-shadow: none;
}

/* line 7, ../../../src/Team/MusisBundle/Resources/public/scss/_misc.scss */
::-moz-selection {
  background: black;
  color: #d54c39;
  text-shadow: none;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
hr {
  border: 0;
  height: 1px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  clear: both;
}

/* line 7, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
ul ul, ul ol, ol ul, ol ol {
  margin: 0 0 0 0;
}

/* line 10, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 14, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
nav ul {
  list-style-type: none;
}

/* line 17, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
ul {
  list-style-type: square;
}

/* line 20, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
ol {
  list-style-type: decimal;
}

/* line 23, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
dl {
  margin: 0 0 1.5em 0;
}

/* line 26, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
dl dt {
  font-weight: bold;
}

/* line 29, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
dd {
  margin-left: 1.5em;
}

/* line 32, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
fieldset {
  border: 1px solid #ccc;
  margin: 0 0 1.4375em;
  padding: 1.5em;
}

/* line 37, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
table {
  margin-bottom: 1.5em;
  width: 100%;
}

/* line 41, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
th, tr, td {
  vertical-align: middle;
}

/* line 44, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
th {
  padding-right: 1em;
}

/* line 50, ../../../src/Team/MusisBundle/Resources/public/scss/_skin.scss */
summary {
  outline: none;
  cursor: pointer;
}

/* line 3, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu {
  display: block;
  text-align: center;
  width: 70px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.2);
  float: left;
  background: #fff;
  height: auto;
  min-height: 100%;
  color: #757575;
  font-size: 22px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 19, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu ul {
  padding: 0;
  margin: 0;
}
/* line 23, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu li {
  display: block;
  padding: 0 6px;
  border-top: 1px solid #e1e1e1;
}
/* line 27, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu li:first-child {
  border-top: none;
}
/* line 30, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu li:last-child {
  border-bottom: none;
}
/* line 33, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu li a {
  padding: 1.2em 0;
  text-decoration: none;
  color: #757575;
  outline: none;
  display: block;
}
/* line 41, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu .menu {
  border-right: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 44, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu .menu:hover {
  border-right: 6px solid #a85044;
}
/* line 47, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu .menu.active {
  border-right: 0;
  border-left: 6px solid #a85044;
}
/* line 52, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-menu .fa-arrow-left {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: solid 1px red;
}
/* line 55, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.active .panel-menu .fa-arrow-left {
  border: solid 1px blue;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 61, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-content {
  width: 33%;
  height: auto;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  z-index: 9999;
  min-height: 100%;
  max-height: 100%;
  background: #fff;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 72, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
.panel-content.unfolded {
  right: 70px;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}

/* line 80, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu ul {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
/* line 87, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a {
  font: 400 2.4em/1.6em "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 93, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a:hover {
  border: solid 3px;
  border-top-width: 0;
  border-bottom-width: 0;
  padding: 0 1em;
}
/* line 99, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.accueil {
  color: #c1b458;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 102, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.accueil:hover {
  border-color: #c1b458;
}
/* line 106, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.playlist {
  color: #213f42;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 109, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.playlist:hover {
  border-color: #213f42;
}
/* line 113, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.parcours {
  color: #a85044;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 116, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.parcours:hover {
  border-color: #a85044;
}
/* line 120, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.artistes {
  color: #824e6c;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 123, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.artistes:hover {
  border-color: #824e6c;
}
/* line 127, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.apropos {
  color: #826244;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 130, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.apropos:hover {
  border-color: #a85044;
}
/* line 134, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.artistes {
  color: #824e6c;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 137, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.artistes:hover {
  border-color: #824e6c;
}
/* line 141, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.apropos {
  color: #826244;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 144, ../../../src/Team/MusisBundle/Resources/public/scss/_slidingpanel.scss */
#mainmenu li a.apropos:hover {
  border-color: #826244;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_player.scss */
.progressbarplay {
  cursor: pointer;
  overflow: hidden;
  height: 8px;
  margin-bottom: 8px;
  background-color: #F7F7F7;
  background-image: -moz-linear-gradient(top, whiteSmoke, #F9F9F9);
  background-image: -ms-linear-gradient(top, whiteSmoke, #F9F9F9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whiteSmoke), to(#F9F9F9));
  background-image: -webkit-linear-gradient(top, whiteSmoke, #F9F9F9);
  background-image: -o-linear-gradient(top, whiteSmoke, #F9F9F9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 21, ../../../src/Team/MusisBundle/Resources/public/scss/_player.scss */
.progressbarplay .bar {
  cursor: pointer;
  background: #4496C6;
  width: 0;
  height: 8px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width .6s ease;
  -moz-transition: width .6s ease;
  -ms-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 19, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 23, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 31, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 36, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 40, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 43, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 47, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 50, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 55, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 59, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 60, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 61, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 62, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 63, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 64, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 66, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 70, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 79, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control {
  z-index: 7;
  pointer-events: auto;
}

/* line 83, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 89, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 92, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 95, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 98, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 101, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 105, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 108, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 111, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 114, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 117, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 124, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 132, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 137, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 143, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 152, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 159, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 162, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 166, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 170, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 180, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container {
  background: #ddd;
  outline: 0;
}

/* line 184, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 187, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 190, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 197, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 204, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 208, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 220, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 226, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 229, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 233, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 238, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 244, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 253, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 258, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 262, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 265, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 272, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 277, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 282, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 286, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 290, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 294, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 298, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 303, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 308, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 311, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 320, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 325, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 330, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 333, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 336, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 340, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 343, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 346, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 360, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 365, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 369, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 374, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 383, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 387, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 392, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 396, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 399, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 406, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 415, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 421, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 435, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 438, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 444, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 447, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 454, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 458, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 468, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* line 1, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-container {
  width: 320px;
  background-color: white;
  padding-top: 4px;
  transition: margin-right 0.2s ease;
}

/* line 8, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-control-container .leaflet-routing-container-hide {
  margin-right: -340px;
}

/* line 12, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-container h2 {
  font-size: 14px;
}

/* line 16, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-container h3, .leaflet-routing-container summary {
  font-size: 12px;
  font-weight: normal;
}

/* line 21, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt, .leaflet-routing-geocoders {
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
  max-height: 320px;
  overflow-y: auto;
  transition: all 0.2s ease;
}

/* line 31, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-bar .leaflet-routing-alt:last-child {
  border-bottom: none;
}

/* line 35, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt-minimized {
  color: #888;
  max-height: 64px;
  overflow: hidden;
  cursor: pointer;
}

/* line 42, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt table {
  border-collapse: collapse;
}

/* line 46, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt tr:hover {
  background-color: #eee;
  cursor: pointer;
}

/* line 51, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt::-webkit-scrollbar {
  width: 8px;
}

/* line 55, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #eee;
}

/* line 60, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-alt::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #888;
}

/* line 65, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon {
  background-image: url("leaflet.routing.icons.png");
  -webkit-background-size: 240px 20px;
  background-size: 240px 20px;
  background-repeat: no-repeat;
  margin: 0;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
}

/* line 78, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-continue {
  background-position: 0 0;
}

/* line 79, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-sharp-right {
  background-position: -20px 0;
}

/* line 80, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-turn-right {
  background-position: -40px 0;
}

/* line 81, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-bear-right {
  background-position: -60px 0;
}

/* line 82, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-u-turn {
  background-position: -80px 0;
}

/* line 83, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-sharp-left {
  background-position: -100px 0;
}

/* line 84, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-turn-left {
  background-position: -120px 0;
}

/* line 85, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-bear-left {
  background-position: -140px 0;
}

/* line 86, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-depart {
  background-position: -160px 0;
}

/* line 87, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-enter-roundabout {
  background-position: -180px 0;
}

/* line 88, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-arrive {
  background-position: -200px 0;
}

/* line 89, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-icon-via {
  background-position: -200px 0;
}

/* line 91, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoders div {
  padding: 4px 0px 4px 0px;
}

/* line 95, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoders input {
  width: 303px;
  line-height: 1.67;
  border: 1px solid #ccc;
}

/* line 101, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoders button {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  margin-right: 3px;
  float: right;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* line 113, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoders button:hover {
  background-color: #eee;
}

/* line 117, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoders input, .leaflet-routing-remove-waypoint, .leaflet-routing-geocoder {
  position: relative;
}

/* line 121, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoder-result {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 1000;
  /* Arbitrary, but try to be above "most" things. */
}

/* line 130, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoder-result table {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
  background-color: white;
  cursor: pointer;
}

/* line 138, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoder-result-open {
  max-height: 800px;
}

/* line 142, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoder-selected, .leaflet-routing-geocoder-result tr:hover {
  background-color: #eee;
}

/* line 146, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-geocoder-no-results {
  font-style: italic;
  color: #888;
}

/* line 151, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-remove-waypoint {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* line 158, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-remove-waypoint:after {
  position: absolute;
  display: block;
  width: 15px;
  height: 1px;
  z-index: 1;
  right: 1px;
  top: 3px;
  bottom: 0;
  margin: auto;
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  content: "\00d7";
  text-align: center;
  cursor: pointer;
  color: #ccc;
  background: white;
  padding-bottom: 16px;
  margin-top: -16px;
  padding-right: 4px;
  line-height: 1;
}

/* line 182, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-remove-waypoint:hover {
  color: black;
}

/* line 186, ../../../src/Team/MusisBundle/Resources/public/scss/_leaflet-routing.scss */
.leaflet-routing-instruction-distance {
  width: 48px;
}

/* line 18, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.hide {
  display: none;
}

/* line 21, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.clear {
  clear: both;
}

/* line 24, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.left {
  float: left;
}

/* line 27, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.right {
  float: right;
}

/* line 38, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.rounded {
  width: 3em;
  height: 3em;
  background: #3b7075;
  color: #fff;
  border-radius: 3em;
  font-size: 1.2em;
  padding-top: 1em;
  box-sizing: border-box;
  text-align: center;
}

/* line 49, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
#map {
  height: 100%;
  min-height: 100%;
}

/* line 53, ../../../src/Team/MusisBundle/Resources/public/scss/style.scss */
.leaflet-top.leaflet-right {
  margin-right: 80px;
  z-index: 0;
}
