{# src/Musis/Team/MusisBundle/Resources/views/Musis/index.html.twig #}

<html>
	<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Musis</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="scss/style.scss" />

  	</head>
	<body>
	
		<div class="musisMap">


		</div>
	
		<script src="web/built/js/scripts.min.js"></script>
		
	</body>
</html>